<html>
<head>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='styles.css') }}' />
</head>
<body>
    <h1>Edit Menu Item</h1>

    <form action='{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}' method='post'>
        <p>Name:</p>
        <input type='text' size='30' name='name' placeholder='{{ item.name }}' />

        <p>Description:</p>
        <input type='text' size='30' name='description' placeholder='{{ item.description }}'/>

        <p>Price:</p>
        <input type='text' size='30' name='price' placeholder='{{ item.price }}'/>

        <p>Course:</p>
        {% if item.course == 'Appetizer' %}
            <dd>
                <input type="radio" name="course" value="Appetizer" checked> Appetizer<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Entree"> Entree<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Dessert"> Dessert<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Beverage"> Beverage<br>
            </dd>
        {% elif item.course == 'Entree' %}
            <dd>
                <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Entree" checked> Entree<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Dessert"> Dessert<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Beverage"> Beverage<br>
            </dd>
        {% elif item.course == 'Dessert' %}
            <dd>
                <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Entree"> Entree<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Dessert" checked> Dessert<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Beverage"> Beverage<br>
            </dd>
        {% elif item.course == 'Beverage' %}
            <dd>
                <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Entree"> Entree<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Dessert"> Dessert<br>
            </dd>
            <dd>
                <input type="radio" name="course" value="Beverage" checked> Beverage<br>
            </dd>
        {% endif %}
        <br>
        <input type='submit' value='Edit' />
        <a href='{{ url_for('showMenu', restaurant_id=item.restaurant_id )}}'>Cancel</a>
    </form>
</body>
</html>
